body{
    background-color: rgb(108, 112, 112);
    color: rgb(30, 30, 160);
    margin-left: 5%;
    margin-top: 2%;
}
h1{
    margin-left: 25%;
    color: black;
}
h2{
    margin-left: 8%;
    color: rgb(26, 25, 25);
}